html {
    margin:0%;
    padding:1px;
    background: rgb(136, 240, 136);
}

header{
    border-bottom: 1px dotted #ccc;
    border: groove;
    background-color: rgb(235, 226, 226);

}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 30px;
    color: black;
    border: 5px solid black;
    background: rgb(229, 248, 227);
}

section{
    flex:1;
    margin: 20px;
    padding: 20pxk;
    border-bottom: 1px dotted #ccc;
}

header img{
    display: inline-block;
    height: 200px;
    margin-left: 20px;
}

header h1{
    float: right;
    margin-right: 50px;
    margin-top: 180px;
    font-family:monospace;
    color:rgb(80, 134, 26);
    outline: black;
    outline-width: 4px;
}